.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;

  position: absolute;
  width: 375px;
  height: 726px;
  left: 0px;
  top: 92px;
}  

h2 {
  color: rgb(149, 149, 149);
  size: 40px;
}
p{
  color: rgb(59, 55, 55);
    size: 40px;
}
h1{
  color: rgb(0, 0, 0);
    size: 40px;
}


body {
  background-image: url('background.png');
  background-repeat: no-repeat;
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;  
  }

.logo{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 12px;
    flex-wrap: wrap;
    width: 114px;
    height: 48px;
    left: 12px;
    top: calc(50% - 48px/2);
    border: #FF6163 solid 5px;
    width: 50%;
    float: right;
}

  .button{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  position: absolute;
  width: 91px;
  height: 48px;
  left: 100px;
  top: calc(50% - 48px/2 + 161.5px);

  background: #FF6163;
  border-radius: 4px;
}

  .mnu{
    display: flex;
    justify-content: right;
    border: #FF6163 5px solid;
    style="width: 100px; float:left; height:100px; background:gray; margin:10px;
    width: 50%;
    float: right;
  }